body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFA500; /* Changed from purple to orange */
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

#count-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.count-box {
    width: 80px;
    height: 50px;
    border: 2px solid;
    margin: 0 10px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    background-color: transparent;
}

#player-count-box {
    border-color: #007BFF; /* Blue border */
    color: #007BFF;
}

#banker-count-box {
    border-color: #DC3545; /* Red border */
    color: #DC3545;
}

#tie-count-box {
    border-color: #28A745; /* Green border */
    color: #28A745;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button#toggle-dark-mode {
    background-color: #FFA500; /* Orange for the dark mode toggle */
}

button:hover {
    opacity: 0.8;
}

/* Specific button colors */
button[player] {
    background-color: #007BFF; /* Blue for Player */
}

button[banker] {
    background-color: #DC3545; /* Red for Banker */
}

button[tie] {
    background-color: #28A745; /* Green for Tie */
}

button[delete] {
    background-color: #FF00FF; /* Magenta for Delete Last Hand */
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode header {
    background-color: #FF8C00; /* Darker Orange for header in dark mode */
}

.dark-mode button {
    background-color: #bb86fc;
    color: #000;
}

.dark-mode table, .dark-mode th, .dark-mode td {
    border-color: #555;
}

/* Style for the strategy stats section */
#strategy-stats {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#strategy-stats div {
    background-color: #444; /* Dark gray background */
    border: 1px solid #ddd;
    padding: 10px;
    flex: 1;
    min-width: 200px;
    color: white; /* Ensures text is readable */
}

#strategy-stats h3 {
    margin-top: 0;
    font-size: 18px;
    color: #ffa500; /* Orange for the headings */
}

#strategy-stats p {
    margin: 5px 0;
    font-size: 16px;
    color: #ddd; /* Lightt gray text */
}

.dark-mode #strategy-stats div {
    background-color: #222; /* Even darker gray in dark mode */
    border: 1px solid #555;
}
